* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: white;
}

body * {
    font-family: 'Inter', sans-serif;
}

#container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#light-green-area{
    background-color: rgb(69, 112, 69);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: whitesmoke;
}

#profile {
    display: flex;
    flex-direction: row;
}

#welcome {
    margin: 0 auto 70px;
    font-size: 23px;
}

#cash-p {
    font-size: 23px;
    font-weight: 800;
    margin-bottom: 10px
}

#money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cash {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.cash-qtd {
    font-size: 17px;
    font-weight: 500;
}

.rs {
    font-weight: 700;
}

.rs-cash {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}


.rs-cash::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.cash-name {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

#dark-green-area {
    background-color: rgb(44, 78, 44);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-style {
    background: none;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    /* background-color: rgb(97, 160, 97); */
    width: fit-content;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}