* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: white;
}

body * {
    font-family: 'Inter', sans-serif;
}

#container {
    border: 1px solid red;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#light-green-area{
    background-color: rgb(97, 160, 97);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: whitesmoke;
}

#profile {
    display: flex;
    flex-direction: row;
}

#welcome {
    margin: 0 auto 70px;
    font-size: 23px;
}

#cash-p {
    font-size: 23px;
    font-weight: 800;
}

#money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cash {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.cash-qtd {
    font-size: 15px;
    font-weight: 400;
    position: relative;
}


.cash-qtd::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.cash-name {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    font-weight: 600;
}

#dark-green-area {
    background-color: rgb(66, 106, 66);
}

